*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  li{
    opacity: .7;
    cursor: pointer;
    &:hover{
      opacity:1;
    }
  }
}
a{
  text-decoration: none;
}
input,button{
  outline: none;
  border:none;
}
input{
  padding:0 10px;
}

.error{
  background-color: rgb(247, 150, 150);
  padding:10px;
  margin: 10px
}

@import "./Signup.scss";
@import "./Signin.scss";
@import "./Home.scss"