.header_container{
  display: flex;
  justify-content: space-between;
  height:80px;
  align-items: center;
  padding: 0 20px;
  background:radial-gradient(rgb(4, 94, 146),rgb(120, 202, 250));
  h3{
    color:rgb(183, 200, 209);
    letter-spacing: 2px;
  }
  button{
    padding:5px 10px;
    background:rgb(4, 94, 146);
    color:rgb(120, 202, 250);
    border-radius: 5px;
    cursor: pointer;
  }
}