
.signin_main{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0, 0.1);
  z-index: 1000;

.signin_container{
  position: fixed;
  left:50%;
  top:50%;
  background: rgba(0,0,0, 1);
  transform: translate(-50%,-50%);
  width:500px;
  min-height:300px;
  z-index: 1000;
  border-radius: 5px 0 5px 5px;
  padding: 10px 20px;
  display: grid;
  grid-template-rows: auto auto auto auto;
  text-align: center;
  color:$secondary;

  @media (max-width:500px) {
    width:400px;
  }
  @media (max-width:400px) {
    width:300px;
  }
  @media (max-width:300px) {
    width:250px;
  }
  h1{
    font-weight: 300;
    padding:10px;
  }

  form{
      display: flex;
      flex-direction: column;
      gap:20px;
    .input_box{
      text-align: left;
      height:40px;
      margin-bottom: 20px;
    input{
      display: block;
      height:100%;
      width:100%;
    padding:0 10px;
    border-radius: 5px;
    
    }
    }
    button{
      height:40px;
      width:100px;
      position: relative;
      left:50%;
      transform: translate(-50%,0);
      background:rgb(235, 35, 235);
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      margin:20px 0;
      font-size: 20px;
    }
  }
  p{
    margin: 20px 0;
    
    .showsignup{
      color:$primary;
      cursor:pointer;
      border-bottom: 1px solid $secondary;
      &:hover{
        opacity:.7;
      }
    }
  }
  .social_auth{
    display: flex;
     justify-content: center;
    i{
      margin: 0 10px;
      font-size: 25px;
      cursor: pointer;
    }
    .facebook{
      color:rgb(92, 92, 241);
    }
    .google{
      color:rgb(255, 10, 10);
    }
  }
}

.exit{
  position: absolute;
  font-size: 30px;
  top:10px;
  left:20px;
  transform: translate(-50%,0);
  color:$secondary;
  display: inline-block;
  cursor:pointer;
  padding:5px;
  z-index: 2000;
  border-radius: 5px 5px 5px 0;
  &:hover{
    color:$primary;
  }
}
}